<app-header-component></app-header-component>

<div class="flex flex-col h-screen max-w-md mx-auto bg-gray-100 shadow-lg">
  <div #scrollContainer class="flex-1 overflow-y-auto p-4 pb-20 mt-[70px]">
    <div class="flex flex-col justify-end min-h-full space-y-2">
      @if (messages) {
        @for (msg of messages; track msg.id) {
          <div class="mb-4" [ngClass]="{ 'text-right': msg.foi_usuario === true }">
            <div
              [ngClass]="{
                'bg-[#19AA79]': msg.foi_usuario === true,
                'bg-[#198879]': msg.foi_usuario === false,
              }"
              class="inline-block text-white px-2 py-2 rounded-lg max-w-xs overflow-x-auto"
            >
              @if (msg.foi_usuario) {
              <div class="text-left">
                {{ msg.text }}
                </div>
              } @else {
                <markdown [data]="msg.text"> </markdown>
              }
            </div>
          </div>
        }
      }

      @if (firstMessage) {
        <app-sugestoes-component
          [titulo]="tituloSugestao"
          [opcoes]="opcoesSugestao"
          (eventoClick)="enviarSugestao($event)"
        ></app-sugestoes-component>
      }
    </div>
  </div>

  <div
    class="p-4 bg-white flex items-center space-x-2 fixed bottom-0 left-0 right-0 w-full border-t border-gray-200"
  >
    <div class="relative flex-1">
      <input
        [(ngModel)]="newMessage"
        (keyup.enter)="enviarMensagem()"
        placeholder="Digite sua mensagem..."
        class="placeholder-[#19AA79] border-2 text-[#19AA79] text-[14px] w-full border-[#D6E4EC] rounded-4xl px-3 py-2 pr-10 focus:outline-none focus:ring-2 focus:ring-[#19EE79]"
      />
      <button
        type="button"
        (click)="enviarMensagem()"
        class="absolute inset-y-0 right-3 flex items-center"
      >
        <img src="assets/enviar.png" alt="enviar" class="w-5 h-5" />
      </button>
    </div>

    <button
      type="button"
      (click)="toggleGravacao()"
      [ngClass]="{
        'bg-red-600 animate-pulse': gravando,
        'bg-[#19AA79]': !gravando,
      }"
      class="p-2 rounded-full text-white shadow transition hover:opacity-90"
    >
      <img src="assets/mic.png" alt="Microfone" class="w-5 h-5" />
    </button>
  </div>
</div>
