<header class="fixed top-0 left-0 w-full h-16 bg-[#19AA79] z-50 shadow">

  <div class="px-4 py-4 flex justify-between items-center">

    <button (click)="toggleSidebar()" class="lg:hidden active:scale-95 transition">
      <img src="assets/menu.png" class="h-7 w-7" />
    </button>

    <!-- <div class="font-bold text-[#19AA79] text-lg">Medical AI</div> -->
    <div class="font-bold text-white   text-lg">Medical AI</div>

    <button (click)="abrirPerfil()" class="active:scale-95 transition">
      <img src="assets/perfil2.png" class="h-8 w-8" />
    </button>

  </div>
</header>