@import 'tailwindcss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear,
input[type='password']::-webkit-textfield-decoration-container,
input[type='password']::-webkit-credentials-auto-fill-button,
input[type='password']::-webkit-clear-button,
input[type='password']::-webkit-inner-spin-button,
input[type='password']::-webkit-outer-spin-button,
input[type='password']::-webkit-password-toggle-button {
  display: none !important;
  appearance: none;
}
